@inject IViewLocalizer _localizer
@inject SharedResourcesService _sharedRes

@model HomeViewModel
@{
	ViewData["Title"] = _localizer["Title"];
}

<!-- Main -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center main-bg text-light">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<p class="lead font-weight-normal">@_localizer["Welcome"]</p>
		<h1 class="display-4 font-weight-normal">@_localizer["Name"]</h1>
		<a class="btn btn-info" asp-controller="Home" asp-action="InviteBot" role="button" target="_blank">@_localizer["AddBot"]</a>
		<a class="btn btn-info" href="@Model.DocLink" role="button" target="_blank">@_localizer["Docs"]</a>
	</div>
</div>

<!-- Stat -->
<div class="py-5 bg-light">
	<div class="container">
		<div class="col-lg-12 text-center">
			<h2 class="text-uppercase">@_localizer["BotStatTitle"]</h2>
			<h3 class="text-muted">@_localizer["BotStatDesc"]</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-4 shadow-sm text-center">
					<i class="fas fa-globe-europe fa-10x mt-4"></i>
					<div class="card-body">
						<h2>@_localizer["BotStatServers"]</h2>
						<p class="card-text">@Model.ServersCount</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 shadow-sm text-center">
					<i class="fas fa-users fa-10x mt-4"></i>
					<div class="card-body">
						<h2>@_localizer["BotStatUsers"]</h2>
						<p class="card-text">@Model.UsersCount</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 shadow-sm text-center">
					<i class="fas fa-clipboard-list fa-10x mt-4"></i>
					<div class="card-body">
						<h2>@_localizer["BotStatRaids"]</h2>
						<p class="card-text">@Model.MilestonesCount+</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Features Cards -->
<div class="py-5 bg-dark text-light">
	<div class="container">
		<div class="col-lg-12 text-center">
			<h2 class="text-uppercase">@_localizer["FeatTitle"]</h2>
			<h3 class="text-muted">@_localizer["FeatDesc"]</h3>
		</div>
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col mb-4">
				<div class="card mb-4 shadow-sm text-light bg-dark">
					<div class="embed-responsive embed-responsive-16by9">
						<img class="card-img-top embed-responsive-item" src="~/img/features/1.jpg" alt="@_localizer["FeatOneTitle"]" />
					</div>
					<div class="card-body">
						<h3 class="card-title">@_localizer["FeatOneTitle"]</h3>
						<p class="card-text">@_localizer["FeatOneDesc"]</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card shadow-sm text-light bg-dark">
					<div class="embed-responsive embed-responsive-16by9">
						<img class="card-img-top embed-responsive-item" src="~/img/features/2.jpg" alt="@_localizer["FeatTwoTitle"]" />
					</div>
					<div class="card-body">
						<h3 class="card-title">@_localizer["FeatTwoTitle"]</h3>
						<p class="card-text">@_localizer["FeatTwoDesc"]</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card shadow-sm text-light bg-dark">
					<div class="embed-responsive embed-responsive-16by9">
						<img class="card-img-top embed-responsive-item" src="~/img/features/3.jpg" alt="@_localizer["FeatThreeTitle"]" />
					</div>
					<div class="card-body">
						<h3 class="card-title">@_localizer["FeatThreeTitle"]</h3>
						<p class="card-text">@_localizer["FeatThreeDesc"]</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card shadow-sm text-light bg-dark">
					<div class="embed-responsive embed-responsive-16by9">
						<img class="card-img-top embed-responsive-item" src="~/img/features/4.jpg" alt="@_localizer["FeatFourTitle"]" />
					</div>
					<div class="card-body">
						<h3 class="card-title">@_localizer["FeatFourTitle"]</h3>
						<p class="card-text">@_localizer["FeatFourDesc"]</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Stat -->
<div class="py-5 bg-light">
	<div class="container">
		<div class="col-lg-12 text-center">
			<h2 class="text-uppercase">Поддержи Нейроматрицу</h2>
		</div>
		<div class="row row-cols-1 row-cols-md-1">
			<div class="col mb-4">
				<a class="text-decoration-none" asp-controller="Link" asp-action="GeforceNow" target="_blank">
					<div class="card mb-4 shadow-sm text-light bg-dark">
						<div class="embed-responsive embed-responsive-16by9">
							<img class="card-img-top embed-responsive-item" src="~/img/geforce-now.jpg" alt="GeForceNOW" />
						</div>
						<div class="card-body">
							<h3 class="card-title">Нейроматрица официальный партнер GFN.ru</h3>
							<p class="card-text">Страж, надоело лагать в рейдах и постоянно вылетать? Хочется играть в топовые игры, но железо не тянет и плюется "синими экранами", а цены на апгрейд слишком кусаются? Есть решение! Зарегистрируйся по ссылке и играй в самые требовательные игры без ограничений и в хорошем качестве! А при покупке премиум-подписки ты также получишь приоритетный доступ к серверам и игровую сессию в целых 6 часов! Ну и я внакладе не останусь: твоя помощь поддержит маленькую жизнь на моем сервере. Спеши!</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
