@model AccountDetailsViewModel

@{
	Layout = "~/Views/Shared/Layouts/_ClanLayout.cshtml";
	ViewData["Title"] = "Нейроматрица | Мои стражи";
}

<div class="container text-center">
	<div class="card-deck">
		@foreach (var character in Model.Characters)
		{
			<div class="card">
				<img src="@character.EmblemPath" class="card-img-top mx-auto" style="max-width:96px;">
				<div class="card-body">
					<h5 class="card-title">@character</h5>
					<a asp-controller="Character" asp-action="Details" asp-route-type="@((int)Model.Type)" asp-route-id="@Model.Id" asp-route-characterId="@character.Id" class="btn btn-primary">Сила стража</a>
				</div>
			</div>
		}
	</div>
</div>