@model IEnumerable<Core.Models.Db.Destiny2Clan_Member>

@{
	ViewData["Title"] = $"Клан {Model.FirstOrDefault().Destiny2Clan.Name}";
}
<div>
	<div id="rightcontent" class="main_view" style="display:inline-block;">
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FirstOrDefault().Destiny2Clan.Motto)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FirstOrDefault().Destiny2Clan.Motto)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FirstOrDefault().Destiny2Clan.CreateDate)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FirstOrDefault().Destiny2Clan.CreateDate)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FirstOrDefault().Destiny2Clan.MemberCount)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FirstOrDefault().Destiny2Clan.MemberCount)/100
			</dd>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FirstOrDefault().Destiny2Clan.About)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FirstOrDefault().Destiny2Clan.About)
			</dd>
		</dl>
		<p>
			Данные о стражах обновляются раз в <span class="font-weight-bolder"> час</span>.
		</p>
	</div>
	<div id="leftcontent" class="main_view" style="display:inline-block;">
		<h2>@ViewData["Title"]</h2>
		<a asp-action="Index">Back to List</a>
		<table class="game-ranking">
			<thead>
				<tr>
					<th>
						Аватар
					</th>
					<th>
						<a asp-action="Details" asp-route-sortOrder="@ViewData["NameSortParm"]">Имя</a>
					</th>
					<th>
						<a asp-action="Details" asp-route-sortOrder="@ViewData["DateSortParm"]">Дата вступления</a>
					</th>
					<th>
						<a asp-action="Details" asp-route-sortOrder="@ViewData["DateLastPlayedSortParm"]">Последний раз был в игре</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@if (item.IconPath != null)
							{
								<img src="https://www.bungie.net/@item.IconPath" width="50" alt="@item.Name">
							}
							else
							{
								<p style="width:50px; height:50px;"></p>
							}
						</td>
						<td>
							<a href="https://www.bungie.net/ru/Profile/@item.DestinyMembershipType/@item.DestinyMembershipId/" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ClanJoinDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DateLastPlayed)
							@*<span class="text-danger">Профиль скрыт или недоступен</span>*@
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>