@using Core.Models.Db;
@model IEnumerable<Core.Models.Db.Destiny2Clan_Member>

@{
	var CurrentClan = (Destiny2Clan)ViewData["CurrentGuild"];
	ViewData["Title"] = $"Клан {CurrentClan.Name}";
}
<div>
	<div class="main_view" style="display:inline-block;">
		<h2>@ViewData["Title"]</h2>
		<form asp-action="Details" method="get">
			<div>
				<p>
					Поиск по имени: <input type="text" name="SearchString" value="@ViewData[" currentFilter"]" />
					<input type="submit" value="Найти" /> |
					<a asp-action="Details" asp-route-id="@CurrentClan.Id">Вернуться к полному списку</a>
				</p>
			</div>
		</form>
		<p>
			Данные о персонажах обновляються раз в <b>15 минут</b>. Данные об онлайне обновляються раз в <b>1 час</b>.
		</p>
		<table class="game-ranking">
			<thead>
				<tr>
					<th>
						Аватар
					</th>
					<th>
						<a asp-action="Details" asp-route-sortOrder="@ViewData[" NameSortParm"]">Имя</a>
					</th>
					<th>
						<a asp-action="Details" asp-route-sortOrder="@ViewData[" DateSortParm"]">Дата вступления</a>
					</th>
					<th>
						<a asp-action="Details" asp-route-sortOrder="@ViewData[" DateLastPlayedSortParm"]">Последний раз был в игре</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@if (item.IconPath != null)
							{
								<img src="https://www.bungie.net/@item.IconPath" width="50" alt="@item.Name" />
							}
							else
							{
								<img src="https://www.bungie.net//img/profile/avatars/default_avatar.gif" width="50" alt="@item.Name" />
							}
						</td>
						<td>
							<a href="https://www.bungie.net/ru/Profile/@item.DestinyMembershipType/@item.DestinyMembershipId/" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ClanJoinDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DateLastPlayed)
							@*<span class="text-danger">Профиль скрыт или недоступен</span>*@
						</td>
					</tr>
				}
			</tbody>
		</table>
		<p><a asp-action="Index">Вернуться к списку кланов</a></p>
	</div>
</div>
