@model MilestoneViewModel
@using Neiralink.Models
@{
	Layout = "_Admin";
	ViewData["Title"] = "Delete Milestone";
}
<div class="container margin-top-5">
	<h2>@ViewBag.Title</h2>
	<div>
		<dl class="dl-horizontal">
			<dt>Icon</dt>
			<dd><img class="img-thumbnail" style="max-height: 5rem;" src="@Model.Info.Icon" /></dd>
			<dt>Max users</dt>
			<dd>@Model.Info.MaxSpace</dd>
			<dt>Type</dt>
			<dd>@Model.Info.MilestoneType</dd>
			<dt>Game</dt>
			<dd>@Model.Info.Game.GetEnumDisplayName()</dd>
			<dt>Locales count</dt>
			<dd>@Model.Locales.Count</dd>
		</dl>

		<div>
			<form asp-controller="Milestone" asp-action="Delete" method="post">
				<div class="form-group">
					<input type="submit" class="btn btn-danger" value="Delete" />
				</div>
			</form>
		</div>
		<div class="float-right">
			<a asp-controller="Milestone" asp-action="Index">Return to list</a>
		</div>
	</div>
</div>