@using Neiralink.Models
@model IEnumerable<Neiralink.Models.MilestoneInfo>
@{
	Layout = "_Admin";
	ViewData["Title"] = "Milestone constructor";
	var counter = 1;
}

<h2>@ViewData["Title"]</h2>
<p>
	<a class="btn btn-sm btn-primary" asp-controller="Milestone" asp-action="Create">Add</a>
</p>
<table class="table table-hover">
	<tr>
		<th scope="col">ID</th>
		<th scope="col">Icon</th>
		<th scope="col">Max users</th>
		<th scope="col">Type</th>
		<th scope="col">Game name</th>
		<th scope="col">Actions</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<th scope="row">@counter</th>
			<td>
				<img class="img-thumbnail" style="max-height: 5rem;" src="@item.Icon" />
			</td>
			<td>
				@item.MaxSpace
			</td>
			<td>
				@item.MilestoneType
			</td>
			<td>
				@item.Game.GetEnumDisplayName()
			</td>
			<td>
				<a asp-controller="Milestone" asp-action="Edit" asp-route-id="@item.RowID">Edit</a> |
				<a asp-controller="Milestone" asp-action="Delete" asp-route-id="@item.RowID">Delete</a>
			</td>
		</tr>
		counter++;
	}
</table>