@model IEnumerable<Core.Models.Db.Gear>

@{
    ViewData["Title"] = "Экзотическое вооружения";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catalyst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
				<img src="@Html.DisplayFor(modelItem => item.IconUrl)" alt="@Html.DisplayFor(modelItem=> item.Name)" width="50">
            </td>
            <td>
				<a href="@Html.DisplayFor(modelItem => item.ImageUrl)">Скриншот</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalyst)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Подробней</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
