@inject SharedResourcesService Res
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Failsafe discord bot in Destiny 2 world">
    <meta name="author" content="Cyber_Garret">
    <meta name="verify-admitad" content="846e613145" />
	<title>@ViewData["Title"] - @Res.Get("Title")</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header class="sticky-top">
		<div class="collapse bg-dark" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4 class="text-white">@Res.Get("AboutTitle")</h4>
						<p class="text-white">@Res.Get("AboutDesc")</p>
					</div>
					@*<div class="col-sm-4 offset-md-1 py-4">
							<h4 class="text-white">Resources</h4>
							<ul class="list-unstyled">
								<li><a class="text-white" href="http://docs.neira.app/" target="_blank">@Res.Get("Docs")</a></li>
								<li><a asp-action="Donate" asp-controller="Home" asp-route-culture="@Context.Request.RouteValues["culture"]" class="text-white">@Res.Get("Donate")</a></li>
							</ul>
						</div>*@
				</div>
			</div>
		</div>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container d-flex justify-content-between">
				<a asp-action="Index" asp-controller="Home" class="navbar-brand d-flex align-items-center">
					<img alt="Logo" class="mr-2" height="24" src="~/img/neira.png" width="24">
					<strong>@Res.Get("Name")</strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>
	<main role="main">
		@RenderBody()
	</main>
	<!-- Footer -->
	<footer class="container footer mt-auto py-3">
		<div class="float-left">
			<div class="row align-items-center">
				<img src="~/img/neira.png" class="mr-2" width="24" height="24" alt="Logo">
				<span class="text-muted mr-2">&copy; 2018-@DateTime.Now.Year</span>
				<span class="text-muted">@Res.Get("Dev") <a asp-controller="Home" asp-action="BlackExodus" rel="nofollow" target="_blank">Cyber_Garret#5898</a></span>
			</div>
		</div>
		<div class="row float-right">
			@await Html.PartialAsync("_SelectLanguagePartial")
		</div>
	</footer>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/main.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
