@inject SharedResourcesService res
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Failsafe discord bot in Destiny 2 world">
	<meta name="author" content="Cyber_Garret">
	<title>@ViewData["Title"] - @res.Get("Title")</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<nav class="site-header sticky-top py-1">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" aria-label="Home" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-controller="Home" asp-action="Index">
				<img src="~/img/neira.png" class="d-block mx-auto" width="24" height="24" alt="Logo">
			</a>
			<a class="py-2 d-none d-md-inline-block" href="http://docs.neira.app/" target="_blank">@res.Get("Docs")</a>
			<a class="py-2 d-none d-md-inline-block" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-controller="Home" asp-action="Donate">@res.Get("Donate")</a>
		</div>
	</nav>
	@RenderBody()
	<!-- Footer -->
	<footer class="container py-5">
		<div class="row">
			<div class="col-12 col-md">
				<img src="~/img/neira.png" class="d-block mb-2" width="24" height="24" alt="Logo">
				<small class="d-block mb-3 text-muted">&copy; 2018-@DateTime.Now.Year</small>
				<small class="d-block mb-3 text-muted">@res.Get("Dev") <a asp-controller="Home" asp-action="BlackExodus" rel="nofollow" target="_blank">Cyber_Garret#5898</a></small>
			</div>
			<div class="col-6 col-md">
				<h5>Resources</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="http://docs.neira.app/" target="_blank">@res.Get("Docs")</a></li>
					<li><a class="text-muted" asp-route-culture="@Context.Request.RouteValues["culture"]" asp-controller="Home" asp-action="Donate">@res.Get("Donate")</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				@await Html.PartialAsync("_SelectLanguagePartial")
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/main.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
