@model IEnumerable<Neira.Database.Clan>

@{
	Layout = "~/Views/Shared/Layouts/_ClanLayout.cshtml";
	ViewData["Title"] = "Index";
}
<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					Название
				</th>
				<th>
					Дата создания
				</th>
				<th>
					Девиз
				</th>
				<th>
					Участников
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a asp-action="OpenClan" asp-route-id="@item.Id" rel="nofollow" target="_blank">@item.Name</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreateDate)
					</td>
					<td>
						<span data-toggle="tooltip" title="@item.About">@item.Motto</span>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.MemberCount)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id" target="_blank">Состав</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>